@charset "utf-8";

body {
  margin: 0;
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}
header,
footer {
  background-image: url(title_background.JPG);
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}
main {
  position: relative;
}
footer {
  height: 96px;
}
a {
  cursor: pointer;
}
.title,
#footer-title {
  position: absolute;
  cursor: pointer;
}
.title {
  font-size: 72px;
  top: 164px;
  left: 12%;
  height: 72px;
  line-height: 80px;
}
.title-parents {
  position: relative;
}
#catchPhrase,
#title,
#footer-title {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  padding-left: 72px;
}
#catchPhrase,
#title {
  opacity: 0;
  left: -844;
}
#catchPhrase {
  font-size: 48px; 
  line-height: 48px;
  width: 800px;
  padding-top: 3px;
}
#catchPhrase br {
  display: none;
}
#title,
#footer-title {
  font-size: 32px;
  line-height: 32px;
  width: 400px;
  padding-top: 2px;
}
#footer-title {
  top: 24px;
  left: 0;
}
.title-underline,
.footer-title-underline {
  height: 2px;
  position: absolute;
  background-color: #000;
}
.title-underline {
  width: 398px;
  top: 226px;
  left: 12%;
}
.footer-title-underline {
  width: 198px;
  top: 47px;
  left: 6%;
}
#navi-wrap {
  right: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  font-size: 20px;
  font-weight: 500;
  z-index: 1000;
}
.navi-absolute {
  position: absolute;
  top: -56px;
  opacity: 0;
}
.navi-fixed {
  position: fixed;
  top: 16px;
  opacity: 1;
}
.navi-content {
  width: 25%;
  cursor: pointer;
  opacity: 0.6;
}
.navi-content:hover {
  animation: opacity 360ms forwards; 
}
.navi-content span {
  display: block;
  width: fit-content;
  margin: 12px auto;
}
#service {
  height: 560px;
}
#works {
  height: 480px;
}
#about {
  height: 640px;
}
#link {
  height: 408px;
}
#service,
#about {
  background-color: #fff;
}
#works,
#link {
  background-color: #f5f5f5;
}
#service-wrap,
#works-wrap,
#about-wrap,
#link-wrap {
  width: 90%;
  margin: 0 auto;
  opacity: 0;
}
.appear {
  animation: transform 1s forwards;
}
.mainTitle {
  height: 96px;
  font-size: 40px;
}
.mainTitle span {
  width: fit-content;
  margin: 0 auto;
  display: block;
  font-weight: lighter;
  padding-top: 24px;
}
.element-parent {
  display: flex;
  flex-wrap: wrap;
  height: 304px;
  margin: 0 auto;
}
.element-content {
  width: calc( 100% / 3 );
}
.element-title {
  font-size: 24px;
  display: block;
  margin: 20px auto;
  width: fit-content;
}
.element-detail {
  width: 80%;
  margin: 0 auto;
  white-space: normal;
  word-wrap: break-word;
  color: #808080;
}
.service-image {
  height: 160px;
  margin: 0 auto;
  display: block;
}
.service-detail {
  margin-top: 32px;
}
.works-parent {
  height: 344px;
}
.works-image {
  height: 160px;
  width: auto;
  margin: 16px auto 0;
  display: block;
}
.works-detail {
  margin: 12px auto 0;
  width: fit-content;
}
.works-detail span {
  display: block;
}
.works-detail a {
  display: block;
  margin: 4px auto 0;
  width: fit-content;
  text-decoration: underline;
  color: #000;
}
.about-content {
  display: flex;
  margin: 8px auto 0;
  height: 480px;
  white-space: normal;
  word-wrap: break-word;
}
.face-img {
  height: 100%;
  width: auto;
}
#about-detail-parent {
  width: 100%;
}
#about-detail {
  width: 90%;
  margin: 0 auto;
}
#about-detail span {
  display: block;
  margin-bottom: 16px;
}
#about-detail .name {
  font-size: 24px;
  margin-bottom: 24px;
}
.link-parent {
  height: 264px;
  margin: 0 auto;
  padding: 24px;
}
.link-content {
  width: 90%;
  margin: 0 auto 48px;
}
.link-title {
  font-size: 20px;
}
.link-content a {
  font-size: 20px;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
}
@media screen and (max-width: 1280px) {
  #about-detail {
    margin-top: 0!important;
  }
}
@media screen and (max-width: 1150px) {
  .service-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .works-content {
    width: 50%;
  }
  .waiting-content {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .service-title {
    font-size: 20px;
  }
  #about {
    height: 680px;
  }
}
@media screen and (max-width: 950px) {
  #service {
    height: 920px;
  }
  .service-parent {
    height: 804px;
  }
  .service-content {
    width: 50%;
  }
  .face-img {
    height: 88%;
  }
}
@media screen and (max-width: 900px) {
  #catchPhrase,
  #title,
  #footer-title {
    padding-left: 36px;
  }
  #about {
    height: 720px;
  }
}
@media screen and (max-width: 850px) {
  #catchPhrase {
    font-size: 42px; 
    line-height: 42px;
    width: 700px;
  }
  #title,
  #footer-title {
    font-size: 28px;
    line-height: 28px;
    width: 340px;
  }
  #service {
    height: 940px;
  }
  #about {
    height: 800px;
  }
  .face-img {
    height: 80%;
  }
}
@media screen and (max-width: 750px) {
  #catchPhrase, 
  #title, 
  #footer-title {
    padding-left: 24px;
  }
  #catchPhrase {
    font-size: 36px;
    line-height: 36px;
    width: 600px;
  }
  #service {
    height: 960px;
  }
  .service-parent {
    height: 814px;
  }
  #about {
    height: 1300px;
  }
  .about-content {
    display: block;
    height:1196px;
  }
  .face-img {
    display: block;
    height: 600px;
    width: fit-content;
    margin: 0 auto;
  }
  #about-detail-parent {
    margin-top: 24px;
  }
}
@media screen and (max-width: 700px) {
  #works {
    height: 780px;
  }
  .works-parent {
    display: block;
    height: 664px;
  }
  .works-content {
    width: 100%;
  }
  .works-content:first-child {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 650px) {
  #catchPhrase,
  #title,
  #footer-title {
    padding-left: 16px;
  }
  #catchPhrase {
    font-size: 34px;
    line-height: 34px;
    width: 560px;
  }
  #service {
    height:1320px;
  }
  .service-parent {
    display: block;
    height: 1205px;
  }
  .service-content {
    width: 75%;
    margin: 0 auto 48px;
  }
}
@media screen and (max-width: 600px) {
  #catchPhrase {
    font-size: 32px;
    line-height: 32px;
    width: 530px;
  }
  #title,
  #footer-title {
    font-size: 24px;
    line-height: 24px;
    width: 300px;
  }
  .service-content {
    width: 85%;
  }
  .face-img {
    height: 520px;
  }
}
@media screen and (max-width: 550px) {
  #catchPhrase {
    font-size: 40px;
    line-height: 40px;
    width: 370px;
  }
  #catchPhrase br {
    display: inline;
  }
  .link-title {
    font-size: 16px;
  }
  .link-content a {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .service-content {
    width: 100%;
  }
  .face-img {
    height: 440px;
  }
}
@media screen and (max-width: 450px) {
  #navi-wrap {
    width: 360px;
    font-size: 18px;
  }
  #service {
    height:1360px;
  }
  .service-parent {
    height: 1245px;
  }
  #about {
    height: 1210px;
  }
  .about-content {
    height: 1106px;
  }
  .face-img {
    height: 360px;
  }
}
@media screen and (max-width: 400px) {
  #navi-wrap {
    width: 320px;
    font-size: 16px;
  }
  #catchPhrase {
    font-size: 36px;
    line-height: 36px;
    width: 332px;
  }
  #service {
    height: 1400px;
  }
  .service-parent {
    height: 1285px;
  }
  #about {
    height: 1300px;
  }
  .about-content {
    height: 1196px;
  }
}
@media screen and (max-width: 350px) {
  #catchPhrase {
    font-size: 30px;
    line-height: 30px;
    width: 274px;
  }
  #title, 
  #footer-title {
    font-size: 22px;
    line-height: 22px;
    width: 264px;
  }
  #navi-wrap {
    width: 280px;
    right: 0;
  }
  #service {
    height: 1500px;
  }
  .service-parent {
    height: 1285px;
    width: 100%;
  }
  .service-title {
    font-size: 18px;
  }
  #works {
    height: 700px;
  }
  .works-parent {
    height: 584px;
  }
  .works-image {
    height: 120px;
  }
  .face-img {
    height: 300px;
  }
}
@media screen and (max-width: 300px) {
  #catchPhrase {
    font-size: 28px;
    line-height: 28px;
    width: 260px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #title, #footer-title {
    font-size: 20px;
    line-height: 20px;
    width: 240px;
  }
  #navi-wrap {
    width: 270px;
  }
  .link-parent {
    padding: 16px;
  }
}

@keyframes transform {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes opacity {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.9;
  }
}
